name: Merge or commit

env:
  DEVELOPER_DIR: /Applications/Xcode_14.3.app/Contents/Developer

on:
  push:
  pull_request:

jobs:
  build:

    runs-on: macos-14

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v
